<section ng-controller="ApplePromotionContentController">
   <div class="container">

      <span class="promo-headline" ng-show="!expired">${properties.heading}</span>

 <div class="error show-error" ng-show="expired">
            <span class="promo-headline with-error">Unfortunately, this promotion offer has expired, but today the promotional offers below are available for enrollment. These offers may expire at any time.</span>
         </div>


      <div class="col-md-10 col-md-offset-1">
         <div class="row promo-wrapper flex-wrap">
            <div class="col-md-6" ng-repeat="product in productList" ng-if="product.FixedPricePerTherm > 0">
               <div class="box-w-arrow accord-trigger trigger-arrow">
                  <span class="price-ccf">{{product.FixedPricePerTherm | currency:"$":3}} <small>per {{getNumber(product.QuoteDescription)}}</small></span>
                  <span class="rate-plan">{{product.ProductDescFriendly}}</span>
               </div>
               <div class="box-with-border">
                  <div class="box-inner">
                     <p>
                        {{product.ProductPlanDesc}}
                     </p>
						<a href="" ng-click="displayAddlInfo(product)" class="accord-trigger"><span ng-hide="product.displayAccordian">+</span><span ng-show="product.displayAccordian">-</span>Additional Information</a>
                        <div ng-show="product.displayAccordian" class="">
                            <ul>
                                <li ng-repeat="text in product.ProductFinePrintText">{{text}}
                                </li>
    
                            </ul>
                        </div>

                     <form>
                        <button class="primary-button" ng-click="planSelect(product)">Select Plan</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="foot-notes">
            <p>${properties.description}</p>
         </div>
      </div>
   </div>
</section>
<section ng-controller="ApplePromotionContentController">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="full-banner-light">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="icon"><img src="/etc/designs/ohgre/clientlibs/_img/global/phone.svg"></div>
                <div class="content"><span>PREFER TO CALL? ${inheritedPageProperties.mobilenumber} | Promo code required - {{getDisplayPromocode(promotion.PromotionCode)}}</span></div>
			</div>
		</div>
	</div>
</div>
				</div>
			</div>
		</div>
	</section>