<section ng-controller="ApplePromotionContentController">
		<div class="container">

			<span class="promo-headline">${properties.heading}</span>
            
			<div class="col-md-10 col-md-offset-1">
				<div class="row promo-wrapper flex-wrap">


	<div class="col-md-6" ng-repeat="product in productList">
		<div class="box-w-arrow accord-trigger trigger-arrow">
            <span class="price-ccf">{{product.FixedPricePerTherm | currency:"$":3}} <small>per {{getNumber(product.QuoteDescription)}}</small></span>
                <span class="rate-plan">{{product.ProductDescription}}</span>
		</div>

		<div class="box-with-border">
			<div class="box-inner">
			<p>
                {{product.ProductPlanDesc}}
			</p>
			<ul>
                <li ng-hide="product.CtrctDurationMonths ==0">This plan requires a {{product.CtrctDurationMonths}} -month commitment.</li>
				<li>Early termination charges apply for fixed price plans ({{product.EarlyTermChargeAmt | number:0 | currency:"$":0}}).</li>
			</ul>
				<form id="6-month-fixed-form">
					<button class="primary-button" ng-click="planSelect(product)">Select Plan</button>
				</form>
			</div>
		</div>
	</div>

 

</div>
					<div class="foot-notes">
						<p>${properties.description}</p>
					</div>
			</div>
		</div>



	</section>
