<section>
    <div class="container">
        <div class="full-banner-callout one-third alt-banner1" id="raf-banner">
            <div class="slide">
                <div class="slide-image"></div>
                <div class="slide-content">
                    <div class="inner-slide-content clearfix">
                        <!--<img src="/content/dam/ohgre/global/ohio-logo-white.png" class="brand-logo">
<img src="${properties.imagepath}" class="raf-logo">-->

    <a href="/content/onlyong.html" class="brand-logo" data-sly-test="${inheritedPageProperties.portalname == 'oh'}"><img ng-hide="displayPromotionLogo()" src="${inheritedPageProperties.portalname == 'gre' ? '/etc/designs/ohgre/clientlibs/_img/global/GRE%20Logo_Footer.png': '/etc/designs/ohgre/clientlibs/_img/global/ohio-logo-white.png'}"></a>
                  <a href="/content/gre.html" class="brand-logo" data-sly-test="${inheritedPageProperties.portalname == 'gre'}"><img ng-hide="displayPromotionLogo()" src="${inheritedPageProperties.portalname == 'gre' ? '/etc/designs/ohgre/clientlibs/_img/global/GRE%20Logo_Footer.png': '/etc/designs/ohgre/clientlibs/_img/global/ohio-logo-white.png'}"></a>
                  <img class="raf-logo" src="${properties.imagepath}"/>
                        <p>
                        The more you share, the more you earn.
                    	</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>