<div ng-controller="TermsLandingController">
<section data-sly-use.termsAndConditionData= "com.macquarium.ong.components.TermsAndConditions">
		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row faq">
	<div class="box-with-border">
		<div class="toggle-buttons">
			<a href="#" class="toggle-button" data-toggle="show-all">Show All</a>
			<a href="#" class="toggle-button" data-toggle="hide-all">Hide All</a>
		</div>
		<h3>${properties.heading}</h3>
		<div class="box-inner">
<p>${properties.updateddate}</p>
			<p>
				${properties.description @ context='html'}
			</p>
		</div>
		<ul id="faq-list" class="tabs-list">
            <li data-sly-repeat="${termsAndConditionData.termsAndConditionsDataList}">
                <a hef="#" class="accord-trigger">${item.termsTitle}</a>
				<div class="accord-container">
                    <p>${item.termsDescription @ context='html'}</p>
				</div>
			</li>	
		</ul>
	</div>
</div>
			</div>
		</div>


	</section>

    <section>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<a href="#" ng-click="goBack()" class="primary-button">Go Back</a>
				</div>
			</div>
		</div>
    </section>
</div>


