 <style>

    #primary-header{
		z-index: 1 !important;
}
    </style>
<section ng-controller="EnrollCustomerController">
	<div class="container" id="enroll-customer-container">
	<div id="confirmation-print-logos">
      <a href="/content/onlyong.html" id="primary-logo" data-sly-test="${inheritedPageProperties.portalname == 'oh'}"><img src="/content/dam/ohgre/ONG_logos/ong-logos-leftstack-spot@2x.png" alt="Ohio Natural Gas Logo"></a>
      <a href="/content/gre.html" id="primary-logo" data-sly-test="${inheritedPageProperties.portalname == 'gre'}"><img src="/content/dam/ohgre/Gre_logos/gre-logos-leftstack-spot@2x.png" alt="Grand Rapids Energy Logo"></a>
		</div>
		<div class="box-with-border customer-lookup" ng-hide="!product">

		    <sly data-sly-include="selectedplan.html"></sly>





			<sly data-sly-include="stepscontainer.html"></sly>	




			<div id="step-through">
				<sly data-sly-include="step1accountinformation.html"></sly>
				<sly data-sly-include="step2yourinformation.html"></sly>
				<sly data-sly-include="step3acceptterms.html"></sly>
				<sly data-sly-include="step4review.html"></sly>
                <sly data-sly-include="step5thankyou.html"></sly>

                <!--
				<div class="button-container">
					<button class="primary-button next-button" data-next=4>Next</button>
					<button class="primary-button prev-button" data-next=3>Previous</button>
				</div>	
                -->
			<!-- step-through -->
			</div>
			<!-- end box-with-border -->
		</div>
		<!-- end container -->
	</div>
</section>
