<section ng-controller="EnrollCustomerController">
	<div class="container">
		<div class="box-with-border customer-lookup" ng-hide="!product">
			<div class="selected-plan flex-container">
				<div class="selected-price">
					<span class="price">{{product.fixedPricePerTherm | currency:"$":3}}</span>
					<small>per {{getNumber(product.quoteDes)}}</small>
				</div>
				<div class="selected-info">
					<span class="selected-plan-tag">Selected Plan</span>
                    <h5>{{product.productDesc}}</h5>
                    <span class="utility-name">{{product.ldcDesc}}</span>
				</div>
			</div>
			<div class="steps-container">
				<hr />
				<div id="your-information" class="step first-step active-step">
					<span>Your Information</span>
				</div>
				<div id="accept-terms" class="step">
					<span>Accept Terms</span>
				</div>
				<div id="review" class="step">
					<span>Review</span>
				</div>
				<div id="thank-you" class="step">
					<span>Thank You!</span>
				</div>
			</div>
			<div id="step-through">
                <form name="formone" id="formone" novalidate>
				<div class="form-wrapper active-form account-lookup">

                     <span class="error-message" id="lastnamezipcodeerror"> We found an account that matches the account number but not the ZIP code or last name. For further inquiries, please call 1-888-466-4427. </span>

					<div class="desktop-flex-container">


						<div class="form-area-wrapper"  ng-class="product.LDC =='MIC' ? 'mic-account-container' : ''">

							    <label for="lastname" ng-if="product.LDC !='MIC'">Gas Utility Account Number</label>
                                <label for="lastname" ng-if="product.LDC =='MIC'">Gas Service Pod ID</label>


							<div class="form-area multiple-input">

									<div class="input-container" data-size={{an1minl}} ng-show="product.LDC !='MIC'">
                               			<input type="text" name="an1" ng-model="an1" ng-minlength="an1minl" ng-maxlength="an1minl" maxlength={{an1minl}} ng-readonly="an1r" required>
									</div>
									<div class="input-container" data-size={{an2minl}} ng-show="product.LDC !='MIC'">
										<input type="text" name="an2"  ng-model="an2" ng-minlength="an2minl" ng-maxlength="an2minl" maxlength={{an2minl}} ng-readonly=false required>
									</div>
									<div class="input-container" data-size={{an3minl}} ng-show="product.LDC !='MIC'">
										<input type="text" name="an3"  ng-model="an3" ng-minlength="an3minl" ng-maxlength="an3minl"  maxlength={{an3minl}} ng-readonly="an3r" required>
									</div>
									<div class="input-container" data-size={{an4minl}}>
										<input type="text" name="an4"  ng-model="an4" ng-minlength="an4minl" ng-maxlength="an4minl"  maxlength={{an4minl}} ng-readonly="an4r" required>
									</div>



							</div>


                              <span style="color:red" ng-show="(formone.an1.$dirty && product.LDC !='MIC' && (formone.an1.$invalid || formone.an2.$invalid || formone.an3.$invalid || formone.an4.$invalid)) || (formone.submited)"> 
                                <span ng-show="product.LDC !='MIC' && (formone.an1.$error.required || formone.an2.$error.required || formone.an3.$error.required || formone.an4.$error.required)">Account Number is required.</span>
                                <span ng-show="(!(formone.an1.$error.required || formone.an2.$error.required || formone.an3.$error.required || formone.an4.$error.required) && (formone.an1.$error.maxlength || formone.an1.$error.minlength || formone.an2.$error.maxlength || formone.an2.$error.minlength || formone.an3.$error.maxlength || formone.an3.$error.minlength || formone.an4.$error.maxlength || formone.an4.$error.minlength))">Account Number should be valid .</span>
                                </span>

                                <span style="color:red" ng-show="(formone.an1.$dirty && product.LDC =='MIC' && formone.an4.$invalid || (formone.submited))"> 
                                <span ng-show="product.LDC =='MIC' && ( formone.an4.$error.required)">Account Number is required.</span>
                                <span ng-show="(!(formone.an4.$error.required) && (formone.an4.$error.maxlength || formone.an4.$error.minlength))">Account Number should be valid .</span>
                                </span>


						</div>
						<div class="lastname-container form-area-wrapper">
							<div class="form-area">
								<label for="lastname" ng-show="!businessName">Last Name on Gas Utility Account</label>
								<label for="lastname" ng-show="businessName">Business Name on Gas Utility Account</label>

								<input type="text" name="lastname"  ng-model="lastname" required/>
                                <span style="color:red" ng-show="(formone.lastname.$dirty && (formone.lastname.$invalid)) || (formone.submited)"> 
 									<span ng-show="formone.lastname.$error.required">Last Name is required.</span>
                                </span>
							</div>
						</div>
						<div class="zipcode-container form-area-wrapper">
							<div class="form-area">
								<label for="zipcode">Your Zip Code</label>

								<input type="text" ng-pattern="/^\d+$/" ng-model="zipcode" name="zipcode" maxlength="5" ng-minlength="5" ng-maxlength="5" required/>


                                  <span style="color:red" ng-show="(formone.zipcode.$dirty && (formone.zipcode.$invalid)) || (formone.submited)"> 
 									<span ng-show="formone.zipcode.$error.required">Zip Code is required.</span>
                                     <span ng-show="formone.zipcode.$error.pattern">Please enter valid Zip code.</span> 
									 <span ng-show="formone.zipcode.$invalid && !formone.zipcode.$error.pattern && !formone.zipcode.$error.required">Zip code is not valid.</span> 
                                 </span>
							</div>
						</div>
					</div>


					<button class="primary-button next-button" data-next=2 ng-click="enrollCustomer(2)">Next</button>






				</div>
             </form>
				<!-- new area -->
				<div class="form-wrapper">
					<div class="desktop-flex-container">
						<div class="form-element">
							<div class="new-customer-container">
								<div class="form-area">
									<h4>New Customer Information</h4>
									<h5>Gas Utility Account Number</h5>
									<span class="account-number">{{formatedacno}}</span>
									<div class="row input-group-wrapper">
										<div class="col-md-6">
											<label for="first-name">First Name</label>

                         					<input type="text" name="first-name" ng-model="customerInfo.firstName">
										</div>
										<div class="col-md-6">
											<label for="last-name">Last Name</label>
											<input type="text" name="last-name" ng-model="customerInfo.lastName">
										</div>
									</div>
									<div class="input-group-wrapper">
										<label for="email-address">Email</label>
										<input type="text" name="email-address" ng-model="customerInfo.emailAddress">
									</div>
									<div class="input-group-wrapper">
										<label for="phone-number">Phone Number</label>
										<input type="tel" name="phone-number"  onkeyup="ohio_ng.transform(this)" placeholder="(_ _ _) - _ _ _ - _ _ _ _"  ng-model="customerInfo.phoneNumber">
									</div>
									<div class="input-group-wrapper">
										<label for="source">How Did You Hear About Us?</label>
										<select name="source">
											<option value="source 1">
												source 1
											</option>
											<option value="source 2">
												source 2
											</option>
											<option value="source 3">
												source 3
											</option>
										</select>
									</div>
									<div class="input-group-wrapper">
										<input type="checkbox" name="subscribe-email" value="yes" checked />
										<span class="after-checkbox">Yes, Ohio Natural Gas may send me information about special oﬀers from Ohio Natural Gas and its marketing partners.</span>
									</div>
								</div>
							</div>
						</div>
						<!-- new element -->
						<div class="form-element">
							<div class="new-customer-container">
								<div class="form-area">
									<h4>Service Address</h4>
									<div class="input-group-wrapper">
											<label for="address-one">Street Address</label>
											<input type="text" name="address-one" placeholder="Street Address"  ng-model="customerInfo.serviceAddress1">
									</div>
									<div class="input-group-wrapper">
											<input type="text" name="address-two" placeholder="Street Address 2"  ng-model="customerInfo.serviceAddress2">
									</div>
									<div class="row address-fields">
										<div class="col-md-6 col-sm-6">
											<div class="input-group-wrapper">
													<label for="address-city">City</label>
													<input type="text" name="address-city"  ng-model="customerInfo.serviceCity">
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<div class="input-group-wrapper">
													<label for="address-city">State</label>
													<span>OH</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="input-group-wrapper">
													<label for="address-zip">Zip</label>
													<input type="text" name="address-zip" ng-model="customerInfo.serviceZipCode">
											</div>
										</div>
									</div>
									<div class="input-group-wrapper">
										<h4>Billing Address</h4>
										<div class="input-group-wrapper">
											<input type="checkbox" name="same-billing" value="yes" checked />
											<span class="after-checkbox">Same as Service Address</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- new element -->
						<div class="form-element-small">
							<div class="new-customer-container">
								<div class="form-area">
									<div class="input-group-wrapper">
											<label for="ref-code">Friend's Referral Code</label>
											<input type="text" name="ref-code" placeholder="">
									</div>
									<div class="input-group-wrapper padding-top-bottom-1 border-top border-bottom">
											<div class="row no-margin">
												<input type="checkbox" name="account-holder">
												<span class="after-checkbox">I am the utility account holder or a person that has legal authorization to make decisions for this account.</span>
											</div>
									</div>
									<div class="input-group-wrapper">
											<p>
												By selecting “yes” you provide your electronic signature expressly consenting to contact from _______ or its subsidiaries, aﬃliates, or agents at the number you provided regarding products or services via live, automated or prerecorded telephone call, or text message.  You understand you are not required to enter into this agreement as a condition of purchasing property, good, or services.
											</p>
											<p>
												Do you provide your signature?
											</p>
									</div>
									<div class="input-group-wrapper">
										<div class="row no-margin">
											<div class="col-md-6">
												<input type="radio" name="signature[]" /><span class="align-radio">Yes</span>
											</div>
											<div class="col-md-6">
												<input type="radio" name="signature[]" /><span class="align-radio">No</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="primary-button next-button" data-next=3 ng-click="enrollCustomer(3)">Next</button>
				</div>
			</div>
			<!-- end box-with-border -->
		</div>
		<!-- end container -->
	</div>
</section>
