<style>

    #primary-header{
		z-index: 1 !important;
}
    </style>
<section ng-controller="EnrollCustomerController">
	<div class="container">
		<div class="box-with-border customer-lookup" ng-hide="!product">

		    <sly data-sly-include="selectedplan.html"></sly>





			<sly data-sly-include="stepscontainer.html"></sly>	




			<div id="step-through">
				<sly data-sly-include="step1accountinformation.html"></sly>
				<sly data-sly-include="step2yourinformation.html"></sly>
				<sly data-sly-include="step3acceptterms.html"></sly>
				<sly data-sly-include="step4review.html"></sly>
                <sly data-sly-include="step5thankyou.html"></sly>

                <!--
				<div class="button-container">
					<button class="primary-button next-button" data-next=4>Next</button>
					<button class="primary-button prev-button" data-next=3>Previous</button>
				</div>	
                -->
			<!-- step-through -->
			</div>
			<!-- end box-with-border -->
		</div>
		<!-- end container -->
	</div>
</section>
