<div class="desktop-flex-container">


            	<div class="selected-plan flex-container inverted-gray" ng-show="showcurrentplan">
					<div class="selected-price">
						<span class="price">{{customerInfo.pricePerUnit | currency:"$":3}}</span>
						<small>per {{customerInfo.uom}}</small>
					</div>
					<div class="selected-info">
						<span class="selected-plan-tag">Current Plan</span>
						<h5>{{customerInfo.productDesc}}</h5>
						<span class="utility-name">{{customerInfo.ldcdesc}}<br>{{getOnlyDate(customerInfo.contractStartDate)}} - {{getOnlyDate(customerInfo.contractTermDate)}}</span>

                        <span class="error-text block" ng-show="showearlyterminationfee">Early termination fee of {{customerInfo.earlyTermChargeAmt | currency:"$":3}} .</span>
                        
					</div>
				</div>


               <div class="selected-plan flex-container">
                    <div class="selected-price">
                    <span class="price">{{product.fixedPricePerTherm | currency:"$":3}}</span>
                    <small>per {{getNumberWithoutStar(product.quoteDes)}}</small>
                    </div>
                    <div class="selected-info">
                    <span class="selected-plan-tag" ng-show="!showcurrentplan">Selected Plan</span>
                    <span class="selected-plan-tag" ng-show="showcurrentplan">New Plan - Today</span>
                    <h5>{{product.productDesc}}</h5>
                    <span class="utility-name">{{product.ldcDesc}}</span>

                    </div>
			   </div>

</div>