<div class="form-wrapper active-form account-lookup">
   <form name="formone" id="formone" novalidate>
      <span class="error-message" id="lastnamezipcodeerror"> We found an account that matches the account number but not the ZIP code or last name. For further inquiries, please call 1-888-466-4427. </span>
      <div class="desktop-flex-container">
         <div class="form-area-wrapper"  ng-class="product.LDC =='MIC' ? 'mic-account-container' : ''">
            <label for="lastname" ng-if="product.LDC !='MIC'">Gas Utility Account Number</label>
            <label for="lastname" ng-if="product.LDC =='MIC'">Gas Service Pod ID</label>
            <div class="form-area multiple-input">
               <div class="input-container" data-size={{an1minl}} ng-show="product.LDC !='MIC'">
                  <input type="text" name="an1" ng-model="an1" ng-minlength="an1minl" ng-maxlength="an1minl" maxlength={{an1minl}} ng-readonly="an1r" required restrict-to="[0-9]">
               </div>
               <div class="input-container" data-size={{an2minl}} ng-show="product.LDC !='MIC'">
                  <input type="text" name="an2"  ng-model="an2" ng-minlength="an2minl" ng-maxlength="an2minl" maxlength={{an2minl}} ng-readonly=false required restrict-to="[0-9]">
               </div>
               <div class="input-container" data-size={{an3minl}} ng-show="product.LDC !='MIC'">
                  <input type="text" name="an3"  ng-model="an3" ng-minlength="an3minl" ng-maxlength="an3minl"  maxlength={{an3minl}} ng-readonly="an3r" required restrict-to="[0-9]">
               </div>
               <div class="input-container" data-size={{an4minl}}>
                  <input type="text" name="an4"  ng-model="an4" ng-minlength="an4minl" ng-maxlength="an4minl"  maxlength={{an4minl}} ng-readonly="an4r" required restrict-to="[0-9]">
               </div>
            </div>
            <span style="color:red" ng-show="(formone.an1.$dirty && product.LDC !='MIC' && (formone.an1.$invalid || formone.an2.$invalid || formone.an3.$invalid || formone.an4.$invalid)) || (formone.submited)">
            <span ng-show="product.LDC !='MIC' && (formone.an1.$error.required || formone.an2.$error.required || formone.an3.$error.required || formone.an4.$error.required)">Account Number is required.</span>
            <span ng-show="(!(formone.an1.$error.required || formone.an2.$error.required || formone.an3.$error.required || formone.an4.$error.required) && (formone.an1.$error.maxlength || formone.an1.$error.minlength || formone.an2.$error.maxlength || formone.an2.$error.minlength || formone.an3.$error.maxlength || formone.an3.$error.minlength || formone.an4.$error.maxlength || formone.an4.$error.minlength))">Account Number should be valid .</span>
            </span>
            <span style="color:red" ng-show="(formone.an1.$dirty && product.LDC =='MIC' && formone.an4.$invalid || (formone.submited))">
            <span ng-show="product.LDC =='MIC' && ( formone.an4.$error.required)">Account Number is required.</span>
            <span ng-show="(!(formone.an4.$error.required) && (formone.an4.$error.maxlength || formone.an4.$error.minlength))">Account Number should be valid .</span>
            </span>
         </div>
         <div class="lastname-container form-area-wrapper">
            <div class="form-area">
               <label for="lastname" ng-show="!businessName">Last Name on Gas Utility Account</label>
               <label for="lastname" ng-show="businessName">Business Name on Gas Utility Account</label>
               <input type="text" name="lastName"  ng-model="lastName" required/>
               <span style="color:red" ng-show="(formone.lastName.$dirty && (formone.lastName.$invalid)) || (formone.submited)">
               <span ng-show="formone.lastName.$error.required">Last Name is required.</span>
               </span>
            </div>
         </div>
         <div class="zipcode-container form-area-wrapper">
            <div class="form-area">
               <label for="zipcode">Your Zip Code</label>
               <input type="text" ng-pattern="/^\d+$/" ng-model="zipcode" name="zipcode" maxlength="5" ng-minlength="5" ng-maxlength="5" required/>
               <span style="color:red" ng-show="(formone.zipcode.$dirty && (formone.zipcode.$invalid)) || (formone.submited)">
               <span ng-show="formone.zipcode.$error.required">Zip Code is required.</span>
               <span ng-show="formone.zipcode.$error.pattern">Please enter valid Zip code.</span>
               <span ng-show="formone.zipcode.$invalid && !formone.zipcode.$error.pattern && !formone.zipcode.$error.required">Zip code is not valid.</span>
               </span>
            </div>
         </div>
      </div>
      <button class="primary-button next-button" data-next=2 ng-click="enrollCustomer(2)">Next</button>
   </form> 
</div>
