<!-- new area -->
<div class="form-wrapper">
  <div class="intro-wrapper" id="tcversion" data-tcversion='${properties.tcversion}'>
    ${properties.headercontent @ context='html'}
  </div>
  <form id="formtwo" name="formtwo" class="form mt-2">
    <div class="desktop-flex-container">
      <div class="form-element">
        <div class="new-customer-container">
          <div class="form-area">
            <h4>New Customer Information</h4>
            <span class="error-message block no-margin">Required<sup class="required">*</sup></span>


            <label ng-if="product.LDC !='MIC'">Gas Utility Account Number</label>
            <label ng-if="product.LDC =='MIC'">Gas Service Pod ID</label>

            <strong class="account-number">{{formatedacno}}</strong>

            <!-- start existing Customer -->
            <div class="input-group-wrapper" ng-show="showexistingcustomer && customerInfo.firstName">

              <label>Name on Gas Utility Account</label>
              <strong class="account-number">{{customerInfo.firstName}} {{customerInfo.lastName}}</strong>
            </div>

            <div class="input-group-wrapper" ng-show="businessName">
              <label>Company Name</label>
              <strong>{{customerInfo.businessName}} </strong>
            </div>

            <!-- end existing Customer -->


            <!-- start new Customer -->
            <div class="input-group-wrapper" ng-show="!showexistingcustomer">
              <label for="firstName">First Name<sup class="required" >*</sup></label>
              <input type="text" name="firstName" ng-model="firstName" ng-required="!showexistingcustomer" ng-focus ng-visited>

              <span class="input-error-message" ng-show="formtwo.submited">
                    <span class="input-error-message" ng-show="formtwo.firstName.$error.required">First Name is required.</span>
              </span>

            </div>
            <div class="input-group-wrapper" ng-show="!showexistingcustomer">
              <label for="last-name">Last Name<sup class="required" >*</sup></label>
              <input type="text" name="last-name" ng-model="lastName" ng-hide="businessName" ng-disabled="true">
              <input type="text" name="commerlastName" ng-model="commerlastName" ng-hide="!businessName">
            </div>
            <!-- end new Customer -->


            <div class="input-group-wrapper">
              <label for="email-address">Email<sup class="required">*</sup></label>
              <input type="text" name="emailaddress" ng-model="customerInfo.emailAddress" data-ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$/" ng-required="true" ng-focus ng-visited>

              <span class="input-error-message" ng-show="formtwo.submited">
                                <span class="input-error-message" ng-show="formtwo.emailaddress.$error.required">Email id is required.</span>
              <span class="input-error-message" ng-show="formtwo.emailaddress.$invalid && !formtwo.emailaddress.$error.required">Please enter a valid email id.</span>

              </span>
            </div>
            <div class="input-group-wrapper">
              <label for="phone-number">Phone Number<sup class="required" >*</sup></label>
              <input type="tel" name="phonenumber" id="phonenumber" ng-blur="phoneformatchange(phoneNumber)" ng-model="phoneNumber" placeholder="(_ _ _) - _ _ _ - _ _ _ _" data-ng-pattern="/^((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}$/" ng-required="true" maxlength="14" ng-focus ng-visited>

              <span class="input-error-message" ng-show="formtwo.submited">
                         <span class="input-error-message" ng-show="formtwo.phonenumber.$error.required">Phone number is required.</span>
              <span class="input-error-message" ng-show="formtwo.phonenumber.$invalid && !formtwo.phonenumber.$error.required">Please enter valid phone number.</span>
              </span>
            </div>
            <div class="input-group-wrapper">
              <label for="source">How Did You Hear About Us?</label>
              <div class="dropdown-container">
                <button type="button" class="dropdown-trigger"><span class="value">&nbsp;</span> <span class="fa fa-angle-down carret"></span></button>                <div class="expanded-dropdown">
                  <ul class="dropdown-menu" role="menu">

                    <li role="menuitem">
                      <a href="#" class="select-option">
                                 <span class="">Google</span>
                                 </a>
                    </li>
                    <li role="menuitem">
                      <a href="#" class="select-option">
                                 <span class="">Newspaper</span>
                                 </a>
                    </li>
                    <li role="menuitem">
                      <a href="#" class="select-option">
                                 <span class="">Online</span>
                                 </a>
                    </li>
                    <li role="menuitem">
                      <a href="#" class="select-option">
                                 <span class="">Other</span>
                                 </a>
                    </li>
                    <li role="menuitem">
                      <a href="#" class="select-option">
                                 <span class="">White Fence</span>
                                 </a>
                    </li>
                    <li role="menuitem">
                      <a href="#" class="select-option">
                                 <span class="">Word of Mouth</span>
                                 </a>
                    </li>
                    <li role="menuitem">
                      <a href="#" class="select-option">
                                 <span class="">Radio</span>
                                 </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- new element -->
      <div class="form-element">
        <div class="new-customer-container">
          <div class="form-area">
            <h4>Service Address</h4>
            <span class="error-message block no-margin">Required<sup class="required">*</sup></span>


            <div class="input-group-wrapper" ng-show="showexistingcustomer">
              <label for="address-one">Street Address</label>
              <strong>{{customerInfo.serviceAddress1}}  {{customerInfo.serviceAddress2}} <br>{{customerInfo.serviceCity}}, {{customerInfo.serviceStateCode}} {{customerInfo.serviceZipCode}}</strong>
            </div>


            <div class="input-group-wrapper" ng-show="!showexistingcustomer">
              <label for="address-one">Street Address<sup class="required">*</sup></label>
              <input type="text" name="addressone" id="addressone" ng-model="addressone" ng-required="!showexistingcustomer" ng-focus ng-visited>

              <span class="input-error-message" ng-show="formtwo.submited">
							<span class="input-error-message" ng-show="formtwo.addressone.$error.required">Address1 is required.</span>
              </span>

            </div>
            <div class="input-group-wrapper" ng-show="!showexistingcustomer">
              <input type="text" name="addresstwo" id="addresstwo" ng-model="addresstwo" ng-focus ng-visited>
              <span class="input-error-message" ng-show="(formtwo.addresstwo.$visited && !formtwo.addresstwo.$focused) || formtwo.submited">
							<span class="input-error-message" ng-show="formtwo.addresstwo.$error.required">Address2 is required.</span>
              </span>

            </div>
            <div class="row address-fields" ng-show="!showexistingcustomer">
              <div class="col-md-6 col-sm-6">
                <div class="input-group-wrapper">
                  <label for="address-city">City<sup class="required">*</sup></label>
                  <input type="text" name="addresscity" id="addresscity" ng-model="customerInfo.serviceCity" ng-required="true" ng-focus ng-visited no-specials>
                  <span class="input-error-message" ng-show="formtwo.submited">
							<span class="input-error-message" ng-show="formtwo.addresscity.$error.required">City is required.</span>
                  </span>
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="input-group-wrapper">
                  <label for="address-state">State<sup class="required">*</sup></label>
                  <input type="text" name="address-state" id="address-state" ng-model="addressstate" disabled="disabled" />
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="input-group-wrapper">
                  <label for="address-zip">Zip<sup class="required">*</sup></label>
                  <input type="text"  pattern="[0-9]*" ng-pattern="/^\d+$/" name="address-zip" id="address-zip" ng-minlength="5" ng-maxlength="5" ng-model="zipcode" ng-required="!showexistingcustomer"  numbers-only>
                  <span class="input-error-message" ng-show="formtwo.submited">
    							         <span class="input-error-message" ng-show="this['formtwo']['address-zip'].$error.required">Zip required.</span>
                                         <span class="input-error-message" ng-show="this['formtwo']['address-zip'].$error.pattern">Please enter valid Zip code.</span>
                                         <span ng-show="this['formtwo']['address-zip'].$invalid && !this['formtwo']['address-zip'].$error.pattern && !this['formtwo']['address-zip'].$error.required">Zip code is not valid.</span>
                  </span>
                </div>
              </div>
            </div>


            <div class="input-group-wrapper">
              <h4>Billing Address</h4>
              <div class="input-group-wrapper">
                <label class="checkbox">
                        <input type="checkbox" name="same-billing" id="same-billing" ng-model="samebilling" ng-init="samebilling=true" />
                        </label>
                <span class="after-checkbox"><label for="same-billing">Same as Service Address</label></span>
              </div>
            </div>
            <div class="billing-address" ng-show="!samebilling">
              <div class="input-group-wrapper">
                <label for="billing-address-one">Street Address<sup class="required">*</sup></label>
                <input type="text" name="billingaddressone" ng-model="billingaddressone" id="billingaddressone" ng-required="!samebilling" ng-focus ng-visited>
                <span class="input-error-message" ng-show="formtwo.submited">
							<span class="input-error-message" ng-show="formtwo.billingaddressone.$error.required">Billing Address1 is required.</span>
                </span>

              </div>
              <div class="input-group-wrapper">
                <input type="text" name="billingaddresstwo" ng-model="billingaddresstwo" id="billingaddresstwo" ng-focus ng-visited>
                <span class="input-error-message" ng-show="(formtwo.billingaddresstwo.$visited && !formtwo.addresstwo.$focused) || formtwo.submited">
							<span class="input-error-message" ng-show="formtwo.billingaddresstwo.$error.required">Billing Address2 is required.</span>
                </span>

              </div>
              <div class="row address-fields">
                <div class="col-md-6 col-sm-6">
                  <div class="input-group-wrapper">
                    <label for="billing-address-city">City<sup class="required">*</sup></label>
                    <input type="text" name="billingaddresscity" id="billingaddresscity" ng-model="billingaddresscity" ng-required="!samebilling" ng-focus ng-visited no-specials>
                    <span class="input-error-message" ng-show="formtwo.submited">
                                    <span class="input-error-message" ng-show="formtwo.billingaddresscity.$error.required">City is required.</span>
                    </span>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2">
                  <div class="input-group-wrapper">
                    <label for="billing-address-state">State<sup class="required">*</sup></label>
                    <input type="text" name="billingaddressstate" ng-minlength="2" ng-maxlength="2" ng-model="billingaddressstate" id="billingaddressstate" ng-required="!samebilling" ng-focus ng-visited/>
                    <span class="input-error-message" ng-show="formtwo.submited">
                                    <span class="input-error-message" ng-show="formtwo.billingaddressstate.$error.required">State is required.</span>
                                    <span class="input-error-message" ng-show="formtwo.billingaddressstate.$error.minlength">State must be a minimum of 2 characters.</span>
                                    <span class="input-error-message" ng-show="formtwo.billingaddressstate.$error.maxlength">State should not be more than 2 characters.</span>
                    </span>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="input-group-wrapper">
                    <label for="billing-address-zip">Zip<sup class="required">*</sup></label>
                    <input type="text" pattern="[0-9]*" ng-pattern="/^\d+$/" name="billingaddresszip" ng-model="billingaddresszip" id="billingaddresszip" ng-minlength="5" ng-maxlength="5" ng-required="!samebilling" required numbers-only ng-focus ng-visited>
                    <span class="input-error-message" ng-show="formtwo.submited">
                                    <span class="input-error-message" ng-show="formtwo.billingaddresszip.$error.required">Zip is required.</span>
                                    <span class="input-error-message" ng-show="formtwo.billingaddresszip.$error.pattern">Please enter valid Zip code.</span>
                                    <span ng-show="formtwo.billingaddresszip.$invalid && !formtwo.billingaddresszip.$error.pattern && !formtwo.billingaddresszip.$error.required">Zip code is not valid.</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- new element -->
      <div class="form-element-nbd">
        <div class="new-customer-container">
          <div class="form-area no-border">
            <div class="input-group-wrapper box-with-border gray-box" ng-show="displayReferalForm">
              <div class="row no-margin">
                <h5>Friend's Referral Code</h5>
                <p>
                  <span class="special-offer"> ${properties.rafcontent}</span>
                </p>
                <input type="text" name="rafcode" ng-model="rafcode" placeholder="Please enter your friend's referral code" />


                <span class="input-error-message" ng-show="rafErrorMessage">{{rafErrorMessage}}</span>

              </div>
            </div>
            <!--
			<div class="input-group-wrapper box-with-border gray-box">
              <h5>Special Offer Sign up</h5>
              <div class="row no-margin">
                <label class="checkbox">
                        <input type="checkbox" name="special-offer" id="special-offer" ng-model="specialoffer" >
                        </label>
                <span class="special-offer"><label for="special-offer">${properties.specialoffercontent}</label></span>
              </div>
            </div>
            -->         
			<div class="input-group-wrapper box-with-border gray-box" ng-show="showcccontent">
              <h5>${properties.ccheading}</h5>
              <div class="row no-margin">
                    <label class="checkbox" ng-show="showcc1content">
                        <input type="checkbox" name="cc1show" id="cc1show" ng-model="cc1show" ng-init="cc1show=${properties.showchecked1?'true':'false'}">                    
                     </label>                    
                    <span class="special-offer" ng-show="showcc1content"><label for="special-offer" >${properties.descriptioncc1}</label></span>

                    <label class="checkbox"  ng-show="showcc2content">                    
                    <input type="checkbox" name="cc2show" id="cc2show" ng-show="showcc2content" ng-model="cc2show" ng-init="cc2show=${properties.showchecked2?'true':false}">
                    </label>
                    
                    <span class="special-offer" ng-show="showcc2content"><label for="special-offer">${properties.descriptioncc2}</label></span>
              </div>
            </div>


            <div class="input-group-wrapper mb-padding-25 mt-2 desktop-only">
              <label class="checkbox">
                     <input type="checkbox" id="authorization-checkbox" name="authorization" ng-model="authorization" ng-required="true" ng-focus ng-visited>
                     </label>
              <span class="special-offer"><label for="authorization-checkbox">${properties.authorizationcontent}</label></span>

              <span class="input-error-message" ng-show="(formtwo.authorization.$visited && !formtwo.authorization.$focused) || formtwo.submited">
                <span class="input-error-message" ng-show="formtwo.authorization.$error.required">*Checkbox required in order to continue.</span>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>

    <span class="input-error-message" ng-show="primeErrorMessage">{{primeErrorMessage}}</span>

    <div class="button-container row">
      <button class="primary-button next-button" data-next=3 ng-click="submityourinformation()">Next</button>
      <button class="primary-button prev-button" ng-click="gotoPreviousStep(1)">Previous</button>
    </div>
  </form>


</div>
