
  <div class="mobile-padding" ng-show="showgiftcardmessage">
                <h4 class="subhead-color italic">Congratulations, you are one step closer to earning your {{giftCardValue | currency:"$":0}} VISA reward!</h4>
			</div>
            <div class="mobile-padding" ng-show="showgiftcardmessageconfirmation">
                <h4 class="subhead-color italic">Congratulations, your Promo Code for a {{giftCardValue | currency:"$":0}} VISA reward has been successfully applied!</h4>
			</div>
            <div class="mobile-padding" ng-show="showpromocodeconfirmation">
                   <h4 class="subhead-color italic"> Your promo code "{{promotionInfo.PromotionCode}}" has been applied successfully.</h4>
			</div>
		<div class="steps-container">
				<hr />
				<div id="your-information" class="step first-step active-step">
				<span>Your Information</span>
				</div>
				<div id="accept-terms" class="step">
				<span>Accept Terms</span>
				</div>
				<div id="review" class="step">
				<span>Review</span>
				</div>
				<div id="thank-you" class="step">
				<span>Thank You!</span>
				</div>
			</div>