  <div class="intro-wrapper" ng-show="reviewdisplaydeltaskymiles">
      <h3>${properties.header}</h3>
      <p>
          ${properties.headerdesc @ context = 'html'}
          </p>
   </div>
   <div id="delta-customer-info" class="form mt-2 desktop-only" ng-show="reviewdisplaydeltaskymiles">
      <div class="desktop-flex-container">
         <div class="div-container">
            <div class="box-with-border bg-primary-blue has-image">
                <img src="${properties.deltaimagepath}">
               <div class="box-inner">
                  <h3>Delta Skymiles Member Information<em class="block">Required*</em></h3>
                  <form name="deltaskymiles" novalidate>
                     <label for="first-name">First Name*</label>
                     <input type="text" name="dsmFirstName" ng-model="dsmFirstName"  ng-required="true" ng-focus ng-visited>

                <span class="input-error-message" ng-show="(deltaskymiles.dsmFirstName.$visited && !deltaskymiles.dsmFirstName.$focused) || deltaskymiles.submited">
                         <span class="input-error-message" ng-show="deltaskymiles.dsmFirstName.$error.required">First Name is required.</span> 
                         </span>

                     <label for="last-name">Last Name*</label>
                     <input type="text" name="dsmLastName" ng-model="dsmLastName" ng-required="true" ng-focus ng-visited>
                             <span class="input-error-message" ng-show="(deltaskymiles.dsmLastName.$visited && !deltaskymiles.dsmLastName.$focused) || deltaskymiles.submited">
                         <span class="input-error-message" ng-show="deltaskymiles.dsmLastName.$error.required">Last Name is required.</span> 
                         </span>

                     <label for="first-name">Skymiles Account#*</label>
                     <input type="text" name="dsmAccountNumber"  ng-model="dsmAccountNumber" ng-required="true" ng-pattern="/^\d+$/" ng-minlength=10 ng-maxlength=10 ng-focus ng-visited>

             			<span class="input-error-message" ng-show="(deltaskymiles.dsmAccountNumber.$visited && !deltaskymiles.dsmAccountNumber.$focused) || deltaskymiles.submited">
                         <span class="input-error-message" ng-show="deltaskymiles.dsmAccountNumber.$error.required">Account Number is required.</span> 
                         <span class="input-error-message" ng-show="(deltaskymiles.dsmAccountNumber.$error.maxlength || deltaskymiles.dsmAccountNumber.$error.minlength) && !deltaskymiles.dsmAccountNumber.$error.pattern">Please enter valid Account Number</span> 
                          <span class="input-error-message" ng-show="deltaskymiles.dsmAccountNumber.$error.pattern">Please enter valid Account Number.</span> 
                         <span class="input-error-message" ng-show="invaliddeltaskymilesaccountnumber" >Please enter valid Account Number.</span>
                         </span>
                     <a href="https://www.delta.com/custlogin/validateUser.action" target="_blank">Forgot your Skymiles Number?</a>
                     <button class="primary-button inactive no-padding" ng-click="dsmEnrollSubmit()">continue with skymiles number</button>
                  </form>
               </div>
            </div>
         </div>
         <!-- new element -->
         <div class="two-vert-cols">
            <div class="form-element">
               <div class="new-customer-container">
                  <div class="form-area">

         			${properties.howitworks @ context = 'html'}


                  </div>
               </div>
            </div>

            <div class="form-element">
               <div class="new-customer-container">
                  <div class="form-area">
             <h3>${properties.donthaveskymilesnum}</h3>
                     <div>
                     ${properties.donthaveskymilesnumdesc @ context = 'html'}
                         </div>
                     <a href="#" class="primary-button" ng-click="continuedeltaskymiles('fromdelta')">I WILL PROVIDE MY SKYMILES NUMBER LATER</a>
                  </div>
               </div>
            </div>

         </div>
      </div>
${properties.deltaofferterms @ context = 'html'}
                         </div>