<!-- 
<script src="/etc/designs/ohgre/clientlibs/js/jspdf.min.js"></script>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

-->


<script src="/etc/designs/ohgre/clientlibs/js/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.min.js"></script>

<!-- 
<script src="/etc/designs/ohgre/clientlibs/js/html2pdf.min.js"></script>

<script src="/etc/designs/ohgre/clientlibs/js/html2pdf.bundle.082.min.js"></script>
-->
<script src="/etc/designs/ohgre/clientlibs/js/cloudsponge.js"></script>
<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.min.js"></script>


<script>

  window.csPageOptions = {
    sources: ["yahoo", "outlook", "icloud", "aol", "linkedin"],
    selectionLimit: 25,
    mobile_render: true,
    inlineOauth: 'mobile',
    // exclude 'name' from the list and we'll format
    //  the resulting email addresses only
    include: ['email'],
    // pass the full address book to the contactListCtrl
    beforeDisplayContacts: function(contacts, b, c) {
      // obtain access to the ContactListCtrl's scope
      var scope = angular.element(document.getElementById('ContactListCtrl')).scope();
      scope.$apply(function() {
        scope.fullAddressbook = contacts;
      });
    },
    // pass only the selected contacts to the contactListCtrl
    afterSubmitContacts: function(contacts) {
      console.log('afterSubmitContacts ... csText');

      // obtain access to the ContactListCtrl's scope
      var scope = angular.element(document.getElementById('ContactListCtrl')).scope();

      scope.csTextArea.text = jQuery('#toemailaddress').val();

      scope.$apply(function() {
          //update view for mobile
    
          scope.contacts = contacts;
          //console.log(contacts);
          var emailsArr = [];
    
          for (var i = 0; i < contacts.length; i++) {
            scope.emails = contacts[i].email[0].address;
            scope.emails = UTILS.trim(scope.emails);
            //console.log('Email:[' + scope.emails + ']');
            emailsArr.push(scope.emails);
          }
    
          var arrStr = emailsArr.join(", ");
          //console.log(arrStr);
          if (scope.emails) {
            scope.emails = arrStr;
            console.log('scope.emails', scope.emails);
          }
    
          angular.element(jQuery('#toemailaddress')).triggerHandler('input');

                /*
          cloudEmails = jQuery('#toemailaddress').val();

          var emailTextArea = document.getElementById("toemailaddress");
          var element = angular.element(emailTextArea);
          element.val(cloudEmails);
          element.triggerHandler('input');
                */

          var emailPopup = document.getElementById('raf-email-popup');
          emailPopup.classList.add('show-popup');
          jQuery('html').addClass('fixed-body');
      });


    }
  };
/**/
   /*
  // Asynchronously include the widget library.

    (function(u) {
      var d = document,
        s = 'script',
        a = d.createElement(s),
        m = d.getElementsByTagName(s)[0];
      a.async = 1;
      a.src = u;
      m.parentNode.insertBefore(a, m);
    })('//api.cloudsponge.com/widget/55f173bada0d361f7c04f1c435d61d6708d1b174.js');
 */
</script>

<meta name=viewport content="width=device-width, initial-scale=1">
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='ohgre.clientlibs.controler'}" />

</sly>
