	<section ng-controller="SelectGasUtilityController">
		<div class="container">
		<div class="select-utility bg-primary-blue callout-box">
	<span class="headline">${properties.heading}</span>
	<p>${properties.description @ context='html'}</p>
	<div class="form-wrapper">
		<form class="custom-radio-form">
			<div class="form-section">
				<div class="radio-container">
					<input type="radio" name="location_type_select" value="residential" id="location-residential">
				</div>
				<label for="location-residential">Residential</label>

				<div class="radio-container">
					<input type="radio" name="location_type_select" value="commercial" id="location-commercial">
				</div>
				<label for="location-commercial" id="label-commerical" style="margin-right: 0;">Commercial</label>
			</div>
			<div class="form-section">
				<div class="row">
					<div class="dropdown-container">
						<button class="dropdown-trigger" id="fixed-plans-button"><span class="value">Select Your Gas Utility</span> <span class="fa fa-angle-down carret"></span></button>
						<div class="expanded-dropdown">
					        <ul class="dropdown-menu" role="menu">
								<li role="menuitem" ng-repeat="x in ldcinfo">
                                      <a href="#" class="select-option">
                                       <span class='{{x.LDCCode}}'>{{x.LDCDesc}}</span>
                                      </a>
			            		</li>
					        </ul>
					    </div>
					</div>
					<button class="primary-button" ng-click="submit()">submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
		</div>
	</section>