<section ng-controller="WhatIsChoiceController">
   <div class="container">
      <div class="row">
         <div class="col-md-10 col-md-offset-1">
            <div class="row promo-wrapper">
               <div class="col-md-7">
                  <div class="box-with-border box-alt1">
                     <h4>${properties.leftboxheading}</h4>
                     ${properties.leftboxdescription @ context='html'}
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="card no-flex">
                     <div class="inner-content-wrapper highlighted-bg">
                        <div class="inner-card-content color-white">
                           <h4 class="fs-20 no-margin-top fw-normal">${properties.righttopheading}</h4>
                           <ol class="styled-numbers fs-12 ff-roboto">
                              <li>
                                 <p class="fs-14">${properties.rightsidepoint1 @ context = 'html'}</p>
                              </li>
                              <li>
                                 <p class="fs-14">${properties.rightsidepoint2 @ context = 'html'}</p>
                              </li>
                              <li>
                                 <p class="fs-14">${properties.rightsidepoint3 @ context = 'html'}</p>
                                 <p class="fs-11"><em>${properties.note}</em></p>
                              </li>
                           </ol>
                        </div>
                     </div>
                  </div>
                  <div class="box-with-border inline mt-1">
					<div class="wrapper">
                  <p>
                     ${properties.rightbottomboxtext @ context='html'}
				  </p>
                  <div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>