<div class="__FP_boxes-container __FP_single-color">
    <div class="boxes __FP_boxes __FP_single-color" data-repeatable="true">
        <h3 class="__FP_single-color" title="${name}" tabindex="0">${name}</h3>
        <p class="__FP_boxes-description __FP_single-color" title="${description}" tabindex="0">${description}</p>
        <div class="boxes-icon-cont __FP_boxes-icon-cont">
            <div class="op-dow">
                <a href="${formUrl}" target="_blank" class="__FP_panel-html-open ${htmlStyle}" title="${config-htmlLinkText}"></a>
                <a href="${pdfUrl}" target="_blank" class="__FP_panel-pdf-open ${pdfStyle}" title="${config-pdfLinkText}"></a>
            </div>
        </div>
    </div>
</div>