<div class="popup-wrapper" id="login-popup-wrapper">
  	<sly data-sly-resource="/content/onlyong/modals/myacount/login-popup/jcr:content/content/login-popup.html"  data-sly-unwrap></sly>
</div>

<div class="popup-wrapper" id="popupconfirm">
  <sly data-sly-resource="/content/onlyong/modals/myacount/login-popup-confirm/jcr:content/content/login-popup-confirm.html"  data-sly-unwrap></sly>
</div>

<div class="popup-wrapper" id="login-inactive-popup">

<sly data-sly-resource="/content/onlyong/modals/myacount/login-inactive-popup/jcr:content/content/login-inactive-popup.html"  data-sly-unwrap></sly>
 
</div>
