<section>
		<div class="container">
            <div class="cq-colctrl-lt1-sc">
                <div class="card">
                    <div class="card-hero">
                        <img src="${properties.imagepath}" alt="">
                    </div>
                    <div class="inner-content-wrapper">
                        <div class="inner-card-content">
                            <h2 class="card-title">${properties.title}</h2>
                            <p>${properties.description}</p>
                            <a href="${properties.buttonpath || '#'}.html">${properties.buttontitle || 'Learn More'}</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
</section>