<section ng-controller="LoginPopupController">
		<div class="container">
            <div class="cq-colctrl-lt1-c0-sc">
                <div class="card">
                    <div class="card-hero">
                        <img src="${properties.imagepath}" alt="">
                    </div>
                    <div class="inner-content-wrapper">
                        <div class="inner-card-content">
                            <h2 class="card-title">${properties.title}</h2>
    						<h2 class="card-title">${properties.title2}</h2>
                            <p>${properties.description}</p>
                            <a href="#" ng-click="showLoginPopup()">${properties.buttontitle || 'Learn More'}</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        <sly data-sly-include="loginpopup.html"></sly>
</section>

