<style>
.full-banner-callout.flush .mobile-slide-image {
	margin-left: -85%;
    min-height: 15rem;
}
.full-banner-callout.flush .tablet-slide-image {
	margin-left: -70%;
    min-height: 25rem;
}
</style>
<section ng-controller="OfferPromoController">
   <div class="container">
      <span class="promo-headline" ng-show="!displayPlans">${properties.heading}</span>
      <div class="row">
         <div class="col-md-10 col-md-offset-1">
            <div class="row promo-wrapper" ng-show="!displayPlans">
               <div class="col-md-5">
                  <div class="box-with-border bg-primary-blue has-image">
                     <img src="${properties.imagepath}">
                     <div class="box-inner">
                        <span class="fs-24 block mb-2 ff-robotoSlab">${properties.promoheadingline1}</span>
                        <div class="dropdown-container full-width">
                           <button class="dropdown-trigger" id="fixed-plans-button"><span class="value">Select Your Gas Utility</span> <span class="fa fa-angle-down carret"></span></button>
                           <div class="expanded-dropdown">
                              <ul class="dropdown-menu" role="menu">
                                 <li role="menuitem" ng-repeat="x in ldcinfo">
                                    <a href="#" class="select-option">
                                    <span class='{{x.LDCCode}}'>{{x.LDCDesc}}</span>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <button class="primary-button" ng-click="viewPlans()">view plans</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="box-with-border">
                     <div class="box-inner">
                        ${properties.text @ context='html'}
                     </div>
                  </div>
               </div>
            </div>
            <div class="row promo-wrapper flex-wrap" ng-show="displayPlans">
               <div class="col-md-6" ng-repeat="product in products" ng-if="product.FixedPricePerTherm > 0">
                  <div class="box-w-arrow accord-trigger trigger-arrow">
                     <span class="price-ccf">{{product.FixedPricePerTherm | currency:"$":3}}<small>per {{getNumber(product.QuoteDescription)}}</small></span>
                     <span class="rate-plan">{{product.ProductDescFriendly}}</span>
                  </div>
                  <div class="box-with-border">
                     <div class="box-inner">
                        <p>
                           {{product.ProductPlanDesc}}
                        </p>
						<a href="" ng-click="displayAddlInfo(product)" class="accord-trigger"><span ng-hide="product.displayAccordian">+</span><span ng-show="product.displayAccordian">-</span>Additional Information</a>
                        <div ng-show="product.displayAccordian" class="">
                            <ul>
                                <li ng-repeat="text in product.ProductFinePrintText">{{text}}
                                </li>
    
                            </ul>
                        </div>
						<!--
                        <ul>
                           <li ng-repeat="text in product.ProductFinePrintText">{{text}}</li>
                        </ul>
						-->
                        <form id="12-month-fixed-form">
                           <button class="primary-button" ng-click="planSelect(product)">Select Plan</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <div class="container">
      <div class="row">
         <div class="col-md-10 col-md-offset-1 no-padding-left">
            <div class="full-banner-light">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 col-md-offset-2">
                        <div class="icon"><img src="/etc/designs/ohgre/clientlibs/_img/global/phone.svg"></div>
                        <div class="content"><span>PREFER TO CALL? ${inheritedPageProperties.mobilenumber} | ${inheritedPageProperties.days} ${inheritedPageProperties.time}</span></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="promo-fine-print">
               <p>${properties.fineprinttext @ context='html'}</p>
            </div>
         </div>
      </div>
   </div>
</section>