<section ng-controller="RenewalPlanController">

		<div class="container page-wrapper" id="renew-plan-select" data-respromocode="${properties.residentailpromocode || 'RAF25'}" data-compromocode="${properties.commercialpromocode || 'RAF25'}">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="desktop-flex-container select-header">
						<div class="intro-wrapper">
							<span class="user-greeting" ng-show="customerInfo.rateClass =='01'">Welcome, {{customerInfo.firstName}}. <a href="#" ng-click="logout()">Logout</a></span>
                <span class="user-greeting" ng-show="customerInfo.rateClass =='04'">Welcome, {{customerInfo.businessName}}. <a href="#" ng-click="logout()">Logout</a></span>
						</div>
						<div class="selected-plan current-plan flex-container">
							<div class="selected-price">
								<span class="price ng-binding">{{customerInfo.pricePerUnit | currency:"$":3}}</span>
								<small class="ng-binding">per {{customerInfo.uom}}</small>
							</div>
							<div class="selected-info">
								<span class="selected-plan-tag">Current Plan</span>
								<h5 class="ng-binding">{{customerInfo.productDescFriendly}}</h5>
								<span class="utility-name">
                                    {{productData.ldcDesc}}<br>
									{{getOnlyDate(customerInfo.contractStartDate)}} - {{getOnlyDate(customerInfo.contractTermDate)}} </span>
							</div>
						</div>
					</div>
						<div class="promocode-entry">
						<h3>Please select a new plan or enter your promo code:</h3>
							<form name="renewalPlanPromo" id="renewalPlanPromo" novalidate>
								<label for="promocode">If you have a promo code, enter it here.</label>
								<input type="text" name="promocode" ng-model="promocode" id="promo-code" ng-required="true" ng-focus ng-visited/>

                                    <button id="submit-promo-code" name="submit" type="submit" class="primary-button active" ng-click="submitPromoCode()" value="Apply Promo Code">{{formButton}}</button>

							</form>
                                      <span class="input-error-message" ng-show="(renewalPlanPromo.promocode.$visited && !renewalPlanPromo.promocode.$focused) || renewalPlanPromo.submited">
                                    <span class="input-error-message" ng-show="renewalPlanPromo.promocode.$error.required">Promo code is required.</span>
                                    </span>


                                {{serverError}}

                                    <div class="promocode-message" ng-show="showgiftcardmsg">
                                    <p>Your Promo Code <em>{{promocode}}</em> has been successfully applied.</p>
                                    <p>${properties.giftcardmessage @ context = 'html'}</p>
                                    </div>
						</div>
				</div>
			</div>

			<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="utility-form">
			<ul class="plan-detail">

				<li class="accord-trigger" ng-repeat="product in products" ng-if="product.FixedPricePerTherm > 0" ng-click="showMobileAccord(product)">
					<div class="flex-container">
						<div class="plan-price">
							{{product.FixedPricePerTherm | currency:"$":3}}<span>per {{customerInfo.uom}}**</span>
						</div>
						<div class="plan-info-wrapper">
							<div class="plan-info">
								<div class="inner-content">
									<h4>{{product.ProductDescription}}</h4>
									<small></small>
									<p class="desktop-content">{{product.ProductPlanDesc}}</p>
								</div>
								<div class="plan-button">
									<a href="#" class="primary-button" ng-click="planSelectRenewal(product)">Select Plan</a>
   								</div>
								<a href="" ng-click="displayAddlInfo(product)" class="accord-trigger"><span ng-hide="product.displayAccordian">+</span><span ng-show="product.displayAccordian">-</span>Additional Information</a>
                  <div ng-show="product.displayAccordian" class="">
                     <ul>
                        <li ng-repeat="finePrintText in product.ProductFinePrintText">{{finePrintText}}
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class=" mobile-content" ng-show="product.displayMobAccord">
            <p>{{product.ProductPlanDesc}}</p>
            <ul>
               <ul>
                  <li ng-repeat="finePrintText in product.ProductFinePrintText">{{finePrintText}}
                  </li>

               </ul>
               <div class="">
					<a href="#" class="primary-button">Select Plan</a>
   	        	</div>
					</div>
				</li>



			</ul>
		</div>
		<div class="foot-notes">
                                    <p><strong>${properties.planseffectivedate}</strong></p>
                                    ${properties.renewalterms @ context = 'html'}


		</div>
	</div>
</div>

		</div>




<sly data-sly-include="popups.html"></sly>
                                    
	</section>