	<section ng-controller="PlansDisplayController">
		<div class="container">
		<div class="utility-form ff-roboto">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<span class="headline no-margin">Select Gas Utility</span>
			<p>Choose from one of our plans to get started right away!</p>
		</div>
		<div class="row form-wrapper">
			<div class="col-md-10 desktop-no-padding-left">
				<form>
					<div class="form-section">
						<div class="radio-container">
							<input type="radio" name="location_type" value="residential" id="location-residential">
						</div>
						<label for="location-residential">Residential</label>

						<div class="radio-container">
							<input type="radio" name="location_type" value="commercial" id="location-commercial">
						</div>
						<label for="location-commercial">Commercial</label>
					</div>
					<div class="form-section">
						<div class="row">
							<div class="col-md-6">
								<div class="dropdown-container">
									<button class="dropdown-trigger" id="fixed-plans-button">
                            			<span class="value">Select Your Gas Utility</span>
                            				<span class="fa fa-angle-down carret"></span>
                            		</button>
									<div class="expanded-dropdown">
								        <ul class="dropdown-menu" role="menu">

										 <li role="menuitem" ng-repeat="x in ldcinfo">
			              						<a href="#" class="select-option">
			                						<span class='{{x.LDCCode}}'>{{x.LDCDesc}}</span>
			             			 			</a>
			           					 </li>

								        </ul>
								    </div>
								</div>
							</div>
							<div class="col-md-3">
								<button class="primary-button" ng-click="getPlans()">submit</button>

							</div>
						</div>
					</div>
					<p>
                            ${properties.text @ context='html'}
					</p>
				</form>
			</div>
		</div>
		<div class="row">
			<ul class="plan-detail" ng-show="displayPlans">

				<li  class="accord-trigger" ng-repeat="product in products" ng-if="product.FixedPricePerTherm > 0" ng-click="showMobileAccord(product)">
					<div class="flex-container">
						<div class="plan-price">
							{{product.FixedPricePerTherm | currency:"$":3}}<span>per {{getNumber(product.QuoteDescription)}}</span>
						</div>
						<div class="plan-info-wrapper">
							<div class="plan-info">
								<div class="inner-content">
									<h4> {{product.ProductDescription}}</h4>
                                     <b><small>{{getProductDescription(product.ProductCode)}} </small></b>
									<p class="desktop-content"> {{product.ProductPlanDesc}}</p>
								</div>
								<div class="plan-button">
									<a href="#" class="primary-button" ng-click="planSelect(product)">sign up</a>
								</div>
								<a href="" ng-click="displayAddlInfo(product)" class="accord-trigger"><span ng-hide="product.displayAccordian">+</span><span ng-show="product.displayAccordian">-</span>Additional Information</a>
								<div ng-show="product.displayAccordian" class="">
									<ul>
										<li ng-repeat="finePrintText in product.ProductFinePrintText">{{finePrintText}}
										</li>

									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="accord-container mobile-content" ng-show="product.displayMobAccord">
						<p>{{product.ProductPlanDesc}}</p>
						<ul>
                            <ul>
                                <li ng-repeat="finePrintText in product.ProductFinePrintText">{{finePrintText}}
                                </li>                                
                            </ul>
						</ul>
                        <div class="">
									<a href="#" class="primary-button" ng-click="planSelect(product)">sign up</a>
								</div>
					</div>
				</li>



				<li data-sly-test="${properties.displayGuranteedPlan}"class="accord-trigger gbp" ng-show="guaranteeProductDisplay" ng-click="showMobileAccordGuarantee()" >
					<div class="flex-container">
						<div class="plan-price">
							<img src="/content/dam/ohgre/Rates/gbp-seal.png">
						</div>
						<div class="plan-info-wrapper">
							<div class="plan-info">
								<div class="inner-content">
									<h4>{{guaranteeProduct.ProductDescription}}</h4>
									<p class="desktop-content">{{guaranteeProduct.QuoteDescription}}</p>
								</div>
								<div class="plan-button">
									<span><strong>CALL US FOR A CUSTOM QUOTE ${inheritedPageProperties.mobilenumber}</strong></span>
								</div>
								<a href="" ng-click="showDeskAccordGuarantee()" class="accord-trigger"><span ng-hide="displayGuranteedAccord">+</span><span ng-show="displayGuranteedAccord">-</span>Additional Information</a>
                                	<div ng-show="displayGuranteedAccord" class="">
										<p>{{guaranteeProduct.ProductDescFriendly}}</p>
									</div>
							</div>
						</div>
					</div>

				</li>
			</ul>
		</div>
<div class="foot-notes">
    ${properties.footernotes @ context = 'html'}
		</div>
	</div>

</div>
		</div>
	</section>