<section ng-controller="AboutUsController">
	<div class="container" id="promocode" data-promocode="${properties.promocode || 'DELTANOMILES'}">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row promo-wrapper">
					<div class="col-md-8">
						<div class="box-with-border">
						<div class="box-inner">
						${properties.description @ context='html'}
						</div>
						</div>
					</div>
					<div class="col-md-4">


						<div data-sly-resource="${'content' @ resourceType='/apps/ohgre/components/cardpromo-plans'}"></div>
                        

					</div>
				</div>
			</div>
		</div>
	</div>
</section>