<section>
 <div class="hero">
   <div class="container">
      <div id="full-banner" class="full-banner-callout one-third faq">
         <div class="slide">
            <div class="slide-image" ng-style="{'background-image':'url(${properties.imagepath})'}">
			<!-- <img src="${properties.imagepath}">-->
			</div>
            <div class="slide-content">
               <div class="inner-slide-content clearfix">
                   <img data-sly-test="${properties.logopath}" src="${properties.logopath}"/>
                  <span class="slide-title">${properties.title}</span>
                  <p><span>${properties.description}</span></p>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>
</section>
<script>
if(window.location.href.indexOf("raf-faqs") > -1) {
  var element = document.getElementById("full-banner");
  element.classList.add("raf-faq");
}
</script>
