<section>
   <div class="container">
      <div class="full-banner-callout one-third">
         <div class="slide">
            <div class="slide-image visible-md visible-lg"><img src="${properties.imagepath}"></div>
            <div class="slide-content">
               <div class="inner-slide-content clearfix">
                  <span class="slide-title">${properties.title}</span>
                  <img src="${properties.logoimagepath}">

                  <p><span>${properties.description}</span></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

