<section class="promo-landing">
   <div class="container">
      <div class="full-banner-callout flush">
         <div class="slide">
            <div class="slide-image"><img src="${properties.imagepath}"></div>
            <div class="slide-content">
               <div class="inner-slide-content clearfix">
                  <img src="${properties.logopath}">
                  <span class="slide-title">${properties.description}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>