<!DOCTYPE html>
<html lang="en">
<!-- build:include:dist ../includes/_doc_head.html -->
This will be replaced by the content of _doc_head.html

<!-- /build -->

<body>
  <!-- build:include:dist ../includes/header.html -->
  This will be replaced by the content of header.html
  <!-- /build -->
  <section id="sitemap">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="box-with-border">
          <h2>Sitemap</h2>
          <ul>
            <li><a href="/plans-detail.html#">View Rate Plans</a></li>
            <li><a href="/what_is_choice.html">What is Choice?</a></li>
            <li><a href="/why_choose_us.html">Why Choose Us?</a></li>

            <li><a href="#" ng-click="footernavigation('/content/onlyong/about_us.html')">About Us</a></li>
            <li><a href="#" ng-click="ooternavigation('/content/onlyong/contact-us.html')">Contact Us</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/faq.html')">FAQs</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/terms-of-use.html')">Terms of Use</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/privacy-policy.html')">Privacy Policy</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/sitemap.html')">Sitemap</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </section>


</body>

</html>
