<div class="popup-wrapper" id="raf-terms-popup">
<div class="window-wrapper">
	 <a href="#" id="close-window">X</a>
	 <span class="window-title">Terms and Conditions Update</span>
	 <div class="scroll-container">
		${properties.termsandconditions @ context ='html'}

	 </div>
	 <div class="button-container">
		 <a href="#" class="primary-button inactive" ng-click="redirecttohome()">Decline</a>
		 <a href="#" class="primary-button" ng-click="acceptrafterms()">Accept</a>
	 </div>
 </div>
 </div>


