<div class="popup-wrapper" id="raf-terms-popup">
<div class="window-wrapper">
	 <a href="#" id="close-window">X</a>
	 <span class="window-title">Terms and Conditions Update</span>
	 <div class="scroll-container">
		 <h5>The Terms and Conditions of the Refer-a-Friend program have changed since your list visit.</h5>
		 <p>
			 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus erat non sem varius, vitae maximus odio rhoncus. Vivamus ac risus nec nisi ullamcorper tempus a non libero. Duis malesuada tortor in turpis finibus lobortis. Suspendisse potenti. Etiam
			 venenatis molestie orci eu aliquet. Curabitur mollis et leo non luctus. Nam eget pharetra ante. Etiam sagittis imperdiet lorem, at volutpat eros egestas quis. Pellentesque ac nibh eget mauris eleifend fringilla sit amet eget est. Curabitur bibendum,
			 purus eget ullamcorper porttitor, leo purus hendrerit ex, vel sollicitudin lacus dui sed eros. Phasellus porttitor, justo sit amet convallis vestibulum, felis lorem aliquam urna, auctor auctor erat leo ut ante.
		 </p>
		 <p>
			 Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce dapibus diam ut nisi molestie, id condimentum ligula fringilla. Vestibulum sollicitudin mi pharetra, laoreet tortor non, mattis nibh. Nam ornare arcu velit, faucibus pellentesque justo
			 finibus a. Mauris dictum hendrerit tellus, non pretium nunc fermentum ac. Aliquam ut neque placerat, luctus metus tempus, ullamcorper massa. Donec nibh diam, mollis eu ornare ac, condimentum nec elit. Vestibulum ut arcu elementum, sodales eros id,
			 ultricies libero. Sed non pulvinar magna, non iaculis dolor. Quisque dolor urna, porta vitae vestibulum vitae, tempor at turpis. Vestibulum erat justo, egestas quis posuere non, molestie et nisi.
		 </p>
		 <p>
			 Suspendisse consequat dolor sit amet ligula venenatis, sit amet efficitur nisl iaculis. Fusce nisl justo, vulputate sit amet imperdiet non, scelerisque vitae sapien. Phasellus mollis, lectus eget pharetra sodales, ipsum mi gravida libero, non tincidunt
			 enim ligula sed tortor. Ut ultrices magna eu pretium gravida. Etiam at magna justo. Pellentesque vel sodales nisi, a tempor mauris. Vestibulum sodales varius porttitor. In ac dapibus nulla. Nulla luctus odio quis augue condimentum ultrices a et tortor.
			 Integer euismod feugiat purus a consectetur. Sed eget ante non justo auctor semper nec non nulla.
		 </p>
	 </div>
	 <div class="button-container">
		 <a href="#" class="primary-button inactive">Decline</a>
		 <a href="#" class="primary-button">Accept</a>
	 </div>
 </div>
 </div>