

<section ng-controller="ReferAFriendController">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="row promo-wrapper">
        <div class="col-md-6">
          <div class="box-w-arrow no-arrow">
            <img src="${properties.raflogopath}">
          </div>
          <div class="box-with-border" ng-show="!step2">
            <div class="box-inner">
              ${properties.leftboxcontent @ context = 'html'}
              <form id="raf-form">
                <div class="dropdown-container">
                  <button class="dropdown-trigger" id="fixed-plans-button"><span class="value">Select Your Gas Utility</span> <span class="fa fa-angle-down carret"></span></button>
                  <div class="expanded-dropdown">
                    <ul class="dropdown-menu" role="menu">
                      <li role="menuitem" ng-repeat="x in ldcinfo">
                        <a href="#" class="select-option">
												<span class='{{x.LDCCode}}'>{{x.LDCDesc}}</span>
												</a>
                      </li>
                    </ul>
                  </div>
                  <span class="input-error-message" ng-show="errorInfo">{{errorInfo}}</span>
                </div>

                <button class="primary-button" ng-click="referafriendsubmit()">next</button>
              </form>


            </div>
          </div>

          <div class="box-with-border" ng-show="step2">
            <form name="raf" novalidate>
              <h4>You selected {{ldcdesc}}</h4>
              <div class="form-area-wrapper">

				<div class="form-area">
                  <input placeholder="XXXXXXXX-XXX-000-X" class="col-xs-11 accountnumber" type="text"  id="coh-accno"/>                
					<input placeholder="X-XXXX-XXXX-XXXX" class="col-xs-12 accountnumber" type="text" id="deo-accno"/>                 
					<input placeholder="XXXX-XXXX-XX-X" class="col-xs-12 accountnumber" type="text" id="duk-accno"/>                 
				<input placeholder="03-XXXXXXXXX-XXXXXXX-0" class="col-xs-12 accountnumber" type="text" id="ved-accno"/>
  				 <input placeholder="XXXX-XXX-XXXX-X" class="col-xs-12 accountnumber" type="text" id="mcg-accno"/>
         		 <input placeholder="XXXXXXXXXXXXX" class="col-xs-12 accountnumber" type="text" id="mic-accno"/>

				</div>

                <span class="input-error-message" ng-show="raf.submited">
                	<span id="accountnumberinvalid">Account Number should be valid .</span>
                </span>

              </div>
              <div class="lastname-container form-area-wrapper">
                <div class="form-area">
                  <label for="lastname">My Last Name is:</label>
                  <input type="text" name="lastname" tabindex="5" ng-model="lastname" ng-required="true" ng-focus ng-visited>

                  <span class="input-error-message" ng-show="(raf.lastname.$visited && !raf.lastname.$focused) || raf.submited">
                            <span class="input-error-message" ng-show="raf.lastname.$error.required">Last Name is required.</span>
                  </span>

                </div>
              </div>
              <div class="button-container">
                <input class="primary-button inactive" ng-click="referafriendcancel()" type="button" value="cancel">
                <input class="primary-button" ng-click="referafriendstep2submit()" type="submit" value="submit">
              </div>
            </form>

            <span class="input-error-message" ng-show="errorInfo">{{errorInfo}}</span>

          </div>



        </div>
        <div class="col-md-6">
          <div class="box-with-border">
            ${properties.rightboxcontent @ context = 'html'}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="full-banner-light">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <!--<div class="icon"><img src="/etc/designs/ohgre/clientlibs/_img/global/phone.svg"></div>-->
                <div class="content"><span>PREFER TO CALL? ${inheritedPageProperties.mobilenumber} | ${inheritedPageProperties.days} ${inheritedPageProperties.time}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="foot-notes raf-terms">
          ${properties.rafterms @ context ='html'}
        </div>
      </div>
    </div>
  </div>
</section>

<sly data-sly-include="popups.html"></sly>
