/* COLORS */
/* blue */
/* another blue */
/* blue gray (footer) */
/* orange */
/* dark gray */
/* light gray */
/* FONTS */
/* BREAK POINTS */
/* GLOBAL STYLES */
.subhead-color {
  color: #133f98 !important;
}
.error-text {
  font-size: 1.2rem;
  color: #d0011b;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* a {
  color: #ff6008;
  text-transform: uppercase;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
  background-image: url(../_img/global/background_angle_body.svg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: #757575;
}
@media (min-width: 992px) {
  body {
    overflow: visible;
    background-position: -8vw 6vw;
  }
}
img {
  max-width: 100%;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 992px) {
  .container,
  .parsys-column {
    width: 100%;
    margin: auto;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .container,
  .parsys-column {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container,
  .parsys-column {
    max-width: 1170px;
  }
}
/*
MODULES WILL BE IN CLASS cq-colctrl-*
*/
.bg-primary-blue {
  background: #0074bf !important;
  color: #fff !important;
}
.bg-primary-blue p,
.bg-primary-blue h1,
.bg-primary-blue h2,
.bg-primary-blue h3,
.bg-primary-blue h4,
.bg-primary-blue h5,
.bg-primary-blue h6 {
  color: #fff !important;
}
.bg-primary-blue p.headline,
.bg-primary-blue h1.headline,
.bg-primary-blue h2.headline,
.bg-primary-blue h3.headline,
.bg-primary-blue h4.headline,
.bg-primary-blue h5.headline,
.bg-primary-blue h6.headline {
  color: #fff !important;
}
.bg-secondary-blue {
  background: #00558e !important;
  color: #fff;
}
.bg-secondary-blue p,
.bg-secondary-blue h1,
.bg-secondary-blue h2,
.bg-secondary-blue h3,
.bg-secondary-blue h4,
.bg-secondary-blue h5,
.bg-secondary-blue h6 {
  color: #fff !important;
}
.color-white {
  color: #fff !important;
}
.color-primary {
  color: #0074bf;
}
.fw-normal {
  font-weight: normal !important;
}
.fw-thin {
  font-weight: 300 !important;
}
.fw-bold {
  font-weight: bold !important;
}
.ff-roboto {
  font-family: 'Roboto', sans-serif;
}
.ff-robotoSlab {
  font-family: 'Roboto Slab', serif;
}
.italic {
  font-style: italic;
}
.fs-11 {
  font-size: 1.1rem !important;
}
.fs-12 {
  font-size: 1.2rem !important;
}
.fs-14 {
  font-size: 1.4rem !important;
}
.fs-15 {
  font-size: 1.5rem !important;
}
.fs-16 {
  font-size: 1.6rem !important;
}
.fs-18 {
  font-size: 1.8rem !important;
}
.fs-20 {
  font-size: 2rem !important;
}
.fs-24 {
  font-size: 2.4rem !important;
}
.full-width {
  width: 100% !important;
}
.mobile-padding {
  padding: 1rem 1.5rem;
}
@media (min-width: 992px) {
  .mobile-padding {
    padding: 0;
  }
}
.mb-mt-1 {
  margin-top: 1rem !important;
}
@media (min-width: 992px) {
  .mb-mt-1 {
    margin-top: 0 !important;
  }
}
.no-mt {
  margin-top: 0 !important;
}
@media (min-width: 992px) {
  .mt-1 {
    margin-top: 1rem !important;
  }
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-2.desktop-only {
  margin-top: 0 !important;
}
@media (min-width: 992px) {
  .mt-2.desktop-only {
    margin-top: 2rem !important;
  }
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-3.desktop-only {
  margin-top: 0 !important;
}
@media (min-width: 992px) {
  .mt-3.desktop-only {
    margin-top: 3rem !important;
  }
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-1.desktop-only {
  margin-bottom: 0 !important;
}
@media (min-width: 992px) {
  .mb-1.desktop-only {
    margin-bottom: 1rem !important;
  }
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-2.desktop-only {
  margin-bottom: 0 !important;
}
@media (min-width: 992px) {
  .mb-2.desktop-only {
    margin-bottom: 2rem !important;
  }
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-3.desktop-only {
  margin-bottom: 0 !important;
}
@media (min-width: 992px) {
  .mb-3.desktop-only {
    margin-bottom: 3rem !important;
  }
}
.mb-pdtop-0 {
  padding-top: 0 !important;
}
@media (min-width: 992px) {
  .mb-pdtop-0 {
    padding-top: auto !important;
  }
}
.pt-0 {
  padding-top: 0 !important;
}
@media (min-width: 992px) {
  .pt-0.mobile-only {
    padding-top: auto !important;
  }
}
.pt-0.desktop-only {
  padding-top: auto !important;
}
@media (min-width: 992px) {
  .pt-0.desktop-only {
    padding-top: 0 !important;
  }
}
.no-padding {
  padding: 0 !important;
}
@media (min-width: 992px) {
  .padding-5 {
    padding: 5rem;
  }
}
.mb-padding-25 {
  padding: 2.5rem;
}
@media (min-width: 992px) {
  .mb-padding-25 {
    padding: 0;
  }
}
.no-margin-btm {
  margin-bottom: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-padding-left {
  padding-left: 0;
}
.higher-index {
  z-index: 40;
}
.no-border {
  border: none !important;
}
.inline a,
.inline button {
  display: inline-block !important;
}
.align-left {
  text-align: left !important;
}
.block {
  display: block !important;
}
.display-table {
  display: table !important;
}
.display-inline {
  display: inline-block !important;
}
ol.styled-numbers {
  margin-left: -1.7rem;
  color: #0074bf;
  counter-reset: item;
  list-style-type: none;
}
ol.styled-numbers li {
  padding-left: 1rem;
  position: relative;
}
ol.styled-numbers li:before {
  content: counter(item) "  ";
  counter-increment: item ;
  position: absolute;
  top: 0.3rem;
  left: -1.4rem;
  z-index: 1;
}
ol.styled-numbers li:after {
  content: "";
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  left: -2.3rem;
  top: -0.2rem;
  z-index: 0;
  border-radius: 50%;
}
ol.styled-numbers li p {
  color: #fff;
}
p {
  color: #757575;
  margin-top: 0;
}
small {
  font-size: 1.1rem;
  display: block;
}
sup {
  top: 0;
  color: #d0011b;
  font-size: 1.5rem;
}
section {
  margin-bottom: 1rem;
}
section:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  section {
    margin-bottom: 3rem;
  }
  section:last-child {
    margin-bottom: 3rem;
  }
}
sup {
  font-family: 'Roboto Condensed', sans-serif;
}
input {
  border: none;
  padding: 0 1.5rem;
  height: 4.5rem;
  color: #757575;
  font-size: 1.4rem;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.foot-notes {
  font-size: 1rem;
  padding: 2rem;
  background-color: #fff;
  line-height: 2rem;
}
.foot-notes p {
  font-size: 1rem;
  line-height: 2rem;
}
.form-section {
  margin: 0;
}
.form-section input:not([type="radio"]) {
  display: block;
  width: 100%;
  margin-top: 2rem;
}
@media (min-width: 992px) {
  .form-section input:not([type="radio"]) {
    display: inline-block;
    width: auto;
  }
}
@media (min-width: 992px) {
  .form-section {
    margin: 0 0 3rem 0;
  }
}
.form-wrapper {
  margin-bottom: 4rem;
}
.form-wrapper p {
  font-size: 1.3rem;
}
.radio-container {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: inline-block;
}
.radio-container + label {
  display: inline-block;
  margin: 0 4rem 0 0;
  line-height: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
input[type=radio] {
  display: inline-block;
  background: none;
  position: absolute;
  z-index: 3;
  top: .4rem;
  left: 0;
  margin: 0;
  height: 3rem;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}
input[type=radio]:before {
  content: "";
  background-image: url(../_img/global/radio-button-off.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: .4rem;
  left: 0;
  z-index: 1;
}
input[type=radio]:checked:before {
  background-repeat: no-repeat;
  background-image: url(../_img/global/radio-button-on.svg);
}
.inverted-checkbox .checkbox input[type=checkbox]:before {
  background-image: url(../_img/global/check_inverted.png);
}
.small-radio input[type=radio] {
  height: 2.5rem;
}
.small-radio input[type=radio]:before {
  background-size: contain;
}
.small-radio .radio-container + label {
  top: -0.3rem;
  position: relative;
}
.checkbox {
  height: 22px;
  width: 21px;
  position: relative;
  display: inline-block !important;
  vertical-align: top;
  margin-top: 0 !important;
  margin-right: 5px !important;
  overflow: hidden;
}
@media (min-width: 992px) {
  .checkbox {
    height: 21px;
  }
}
.checkbox input[type=checkbox] {
  width: 20px;
  float: none;
  margin: 0;
  padding: 0 5rem !important;
}
.checkbox input[type=checkbox]:before {
  position: absolute;
  top: .1rem;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../_img/global/check.png);
  background-repeat: no-repeat;
  background-position: 0px -20px;
  background-size: 20px;
  content: "";
}
.checkbox input[type=checkbox]:checked:before {
  background-position: 0 0;
}
.checkbox + span {
  display: inline-block;
  width: calc(100% - 45px) !important;
  float: none !important;
}
.primary-button {
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6008;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 1.3rem;
  line-height: 4.5rem;
  border-radius: 0.2rem;
  display: inline-block;
  padding: 0 5rem;
  border: none;
  letter-spacing: .1rem;
}
.primary-button:hover {
  color: #fff;
  text-decoration: none;
}
.primary-button.inverted {
  background-color: #fff;
  border: 1px solid #ff6008;
  color: #ff6008;
}
.primary-button.inactive {
  background-color: #9bb2c1;
}
.accent-button {
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6008;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 1.3rem;
  line-height: 4.5rem;
  border-radius: 0.2rem;
  display: inline-block;
  padding: 0 5rem;
  border: none;
  letter-spacing: .1rem;
  background-color: #002c6e;
}
.accent-button:hover {
  color: #fff;
  text-decoration: none;
}
.accent-button.inverted {
  background-color: #fff;
  border: 1px solid #ff6008;
  color: #ff6008;
}
.accent-button.inactive {
  background-color: #9bb2c1;
}
.padding-top-bottom-1 {
  padding: 1rem 0;
}
.border-top {
  border-top: 0.1rem solid #e9eef1;
}
.border-bottom {
  border-bottom: 0.1rem solid #e9eef1;
}
@media (min-width: 992px) {
  .desktop-flex-container {
    display: flex !important;
  }
}
.light-headings h1,
.light-headings h2,
.light-headings h3,
.light-headings h4,
.light-headings h5,
.light-headings h6 {
  font-weight: normal;
}
/*
.dropdown-showing{
	&.dropdown-container{
		&:before {
			content: "";
			position: fixed;
			background: rgba(0,0,0,0.3);
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
		}
	}
}*/
.dropdown-container {
  position: relative;
  color: #757575;
}
.dropdown-container .expanded-dropdown {
  position: absolute;
  z-index: 100;
  top: 4.2rem;
  left: 0;
  width: 100%;
  max-height: 20rem;
  display: none;
  font-family: 'Roboto', sans-serif;
}
.dropdown-container .expanded-dropdown.opened {
  display: block;
}
.dropdown-container .expanded-dropdown.opened .dropdown-menu {
  display: block;
}
.dropdown-container .dropdown-menu {
  width: 100%;
  border-radius: 0;
}
.dropdown-container .dropdown-menu > li {
  border-bottom: 1px solid #e9eef1;
}
.dropdown-container .dropdown-menu > li > a {
  padding: .3rem 3rem;
  line-height: 3rem;
  color: #757575;
}
.dropdown-container .dropdown-menu > li:last-child {
  border-bottom: none;
}
.dropdown-container.full-width button {
  display: block;
  width: 100% !important;
}
.dropdown-trigger {
  background: #fff;
  line-height: 4.5rem;
  position: relative;
  padding: 0 3rem;
  text-align: left;
  border: 1px solid #e9eef1;
  width: 100%;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}
.dropdown-trigger .carret {
  position: absolute;
  height: 70%;
  right: 1rem;
  top: 10%;
  font-size: 2.7rem;
  border-left: 1px solid #e9eef1;
  padding-left: 1rem;
  line-height: 3.1rem;
}
.container {
  position: relative;
  padding: 0;
}
@media (min-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.flex-container {
  display: flex !important;
}
.no-flex {
  display: block !important;
}
.all-caps {
  text-transform: uppercase;
}
.headline {
  font-size: 2.8rem;
  font-weight: 300;
  color: #0074bf;
  font-family: 'Roboto Slab', serif;
  display: block;
  margin-bottom: 2rem;
}
.no-margin {
  margin: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
div[class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 992px) {
  div[class^="col-"] {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
.row div[class^="col-"] .row div[class^="col-"]:first-child {
  padding-left: 0;
}
.error {
  display: none;
}
.error.show-error {
  display: block;
}
.error .promo-headline {
  width: 100%;
}
.with-error {
  color: #d0011b !important;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.align-center {
  margin: auto;
}
.width-half {
  width: 50%;
}
@media (min-width: 992px) {
  .dt-width-half {
    width: 50%;
  }
}
.with-border {
  border: 1px solid #e9eef1;
}
.float-right {
  float: right;
}
@media (min-width: 992px) {
  .desktop-no-padding-left {
    padding-left: 0 !important;
  }
}
