 <section ng-controller="DashBoardController">
    <div id="account-dashboard" class="container page-wrapper">
      <div class="col-md-10 col-md-offset-1">
        <div>
          <div class="intro-wrapper">
            <span class="user-greeting">Welcome, John. <a href="#" ng-click="logout()">Logout</a></span>
          </div>
	 <div class="desktop-flex-container">
            <div class="col-md-5 alt-col1">
              <div class="box-with-border information-block">

                <h4>Your Information</h4>
                <div class="input-group-wrapper">
                  <label>Name on Account</label>
                  <strong ng-show="customerInfo.rateClass =='01'">{{customerInfo.firstName}} {{customerInfo.lastName}}</strong>
                  <strong ng-show="customerInfo.rateClass =='04'">{{customerInfo.businessName}}</strong>
                </div>
                <div class="input-group-wrapper">
                  <label>My Gas Utility Account Number</label>
                  <strong>{{customerInfo.account}}</strong>
                </div>
                <div class="input-group-wrapper">
                  <label>Service Address</label>

                  <strong>{{customerInfo.serviceAddress1}} {{customerInfo.serviceAddress2}} <br /> {{customerInfo.serviceCity}}, {{customerInfo.serviceStateCode}} {{customerInfo.serviceZipCode}}</strong>

                </div>
                <div class="input-group-wrapper">
                  <label>Phone Number</label>
                  <strong>{{customerInfo.phoneNumber}}</strong>
                </div>
                <div class="input-group-wrapper">
                  <label>Email</label>
                  <strong>{{customerInfo.emailAddress}}</strong>
                </div>
                <div class="input-group-wrapper">
                  <label>Billing Address</label>
                  <strong>{{customerInfo.mailAddress1}} {{customerInfo.mailAddress2}} <br /> {{customerInfo.mailCity}}, {{customerInfo.mailStateCode}} {{customerInfo.mailZipCode}}</strong>
                </div>
                <div class="footnote">
                  <p>If you would like to change your information, please call <a href="tel:1-888-466-4427">1-888-466-4427</a>. </p>
                  <p>We are available 8 a.m. to 5 p.m. EST, Monday-Friday.</p>

                </div>
              </div>

            </div>
            <div class="col-md-8">

              <div class="box-with-border alert-box alert-alt1" ng-show="customerInfo.renewalContractExistsInd =='Y'">
                <h5>Your Contract Is Up For Renewal:</h5>
                <p>Your current contract expires on <b>{{getOnlyDate(customerInfo.contractTermDate)}}</b>. Your next contract is set to start
                on <b>{{getOnlyDate(customerInfo.renewalContractStartDate)}}</b>.</p>
              </div>


              <div class="plan-info">
                <h4>Your Current Plan</h4>
                <table class="table-wrapper account-info-table">
                  <tbody>
                    <tr>
                      <td>Plan Name</td>
                      <td>{{customerInfo.productDescFriendly}}</td>
                    </tr>
                    <tr>
                      <td>Price Per Therm</td>
                      <td>{{customerInfo.pricePerUnit}}</td>
                    </tr>
                    <tr>
                      <td>Effective Date</td>
                      <td>{{getOnlyDate(customerInfo.contractStartDate)}}</td>
                    </tr>
                    <tr>
                      <td>Expiration Date</td>
                      <td>{{getOnlyDate(customerInfo.contractTermDate)}}</td>
                    </tr>
                    <tr>
                      <td>Early Termination Change</td>
                      <td>{{customerInfo.earlyTermChargeAmt}}</td>
                    </tr>

                  </tbody>
                </table>

              </div>
              <div class="box-with-border alert-box" ng-show="customerInfo.renewalContractExistsInd =='N'">
                  <p>If you would like to start a new contract or cancel this contract today,
                      you will need to pay a <b>{{customerInfo.earlyTermChargeAmt}} early termination fee.</b></p>
              </div>

              <div class="plan-info" ng-show="customerInfo.renewalContractExistsInd =='Y'">
                <h4>Your Renewal Plan</h4>
                <table class="table-wrapper account-info-table">
                  <tbody>
                    <tr>
                      <td>Plan Name</td>
                      <td>{{customerInfo.renewalProductDescFriendly}}</td>
                    </tr>
                    <tr>
                      <td>Price Per Therm</td>
                      <td>{{customerInfo.renewalPricePerUnit}}</td>
                    </tr>
                    <tr>
                      <td>Effective Date</td>
                        <td>{{getOnlyDate(customerInfo.renewalContractStartDate)}}</td>
                    </tr>
                    <tr>
                      <td>Expiration Date</td>
                       <td>{{getOnlyDate(customerInfo.renewalContractTermDate)}}</td>
                    </tr>
                    <tr>
                      <td>Early Termination Change</td>
                        <td>{{customerInfo.earlyTermChargeAmt}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <div class="buttons">
                <a href="#" class="primary-button inactive">Cancel My Contract</a>
                <a href="#" class="primary-button">Change My Renewal Plan</a>
                <a href="#" class="logout-button" ng-click="logout()">Logout</a>
              </div>


            </div>
          </div>
        </div>
      </div>
  </section>