<header id="primary-header" data-portalname="${inheritedPageProperties.portalname}">
	<div class="container">
		<div class="visible-xs visible-sm contact-us-container"><span><a href="#" ng-click="footernavigation('/content/onlyong/contact-us.html')">Contact Us</a> ${inheritedPageProperties.mobilenumber}</span></div>
		<a href="/content/onlyong.html" id="primary-logo" data-sly-test="${inheritedPageProperties.portalname == 'oh'}"><img src="/content/dam/ohgre/ONG_logos/Ohio_Header_col.png" alt="Ohio Natural Gas Logo"></a>
    <a href="/content/gre.html" id="primary-logo" data-sly-test="${inheritedPageProperties.portalname == 'gre'}"><img src="/content/dam/ohgre/Gre_logos/gre_logo_main.png" alt="Grand Rapids Energy Logo"></a>
		<nav id="primary-navigation">
			<div id="contact-us-container"><span><a href="#" ng-click="footernavigation('/content/onlyong/contact-us.html')">Contact Us</a> ${inheritedPageProperties.mobilenumber}</span></div>
		</nav>
	</div>	
</header>

<div data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div>
