<section ng-controller="PromotionContentController">
   <div class="container">
      <span class="promo-headline">${properties.heading}</span>
      <div class="col-md-10 col-md-offset-1">
         <div class="row promo-wrapper">
            <div class="col-md-5">
               <div class="box-w-arrow">
                  <img src="${properties.imagepath}">
                  <span>${properties.promoheadingline1}</span>
                  <span>${properties.promoheadingline2}</span>
               </div>
               <div class="box-with-border">
                  <div class="box-inner">
                     ${properties.description @ context='html'}
                     <form id="promo-form">
                        <div class="dropdown-container">
                           <button class="dropdown-trigger" id="fixed-plans-button"><span class="value">Select Your Gas Utility</span> <span class="fa fa-angle-down carret"></span></button>
                           <div class="expanded-dropdown">
                              <ul class="dropdown-menu" role="menu">
                                 <li role="menuitem" ng-repeat="x in ldcList">
                                    <a href="#" class="select-option">
                                    <span class='{{x.name}}'>{{x.value}}</span>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <button class="primary-button">view plans</button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <div class="box-with-border">
                  ${properties.text @ context='html'}
               </div>
            </div>
         </div>
      </div>
   </div>
</section>