<section ng-controller="PromotionContentController">
		<div class="container">
			<span class="promo-headline">${properties.heading}</span>
			<div class="col-md-10 col-md-offset-1">
				<div class="row promo-wrapper">
	<div class="col-md-5">
		<div class="box-w-arrow">
			<img src="${properties.imagepath}">
			<span>Delta Offer</span>
			<span>Fixed Rate Plans</span>
		</div>
		<div class="box-with-border">
			<div class="box-inner">
				<p>Get 2,500 Bonus Miles for signing up on an ONG fixed price plan.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis egestas sem</p>
				<form id="promo-form">
					<div class="dropdown-container">
						<button class="dropdown-trigger" id="fixed-plans-button"><span class="value">Select Your Gas Utility</span> <span class="fa fa-angle-down carret"></span></button>
						<div class="expanded-dropdown">
					        <ul class="dropdown-menu" role="menu">
                                <li role="menuitem" ng-repeat="x in ldcList">
                                <a href="#" class="select-option">
                                <span class='{{x.name}}'>{{x.value}}</span>
                                </a>
                                </li>
					        </ul>
					    </div>
					</div>
					<button class="primary-button">view plans</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="box-with-border">
			<h4>Earn TWO miles for every dollar spent on your ONG supplier natural gas charges.*</h4>
			<p class="fs-16"><strong>Don’t wait too long, offer ends June 4th, 2017</strong></p>
			<p>And, if you are a SkyMiles Medallion® member, earn an additional mile for a total of THREE miles for each eligible dollar spent.
			</p>
			<h5>Easy Sign Up</h5>
			<p>Switching is easy! One call to us and we will handle all the details.</p>
			<p>There will be no service interruption.</p>
			<p>Our experts ensure a seamless transition. Your provider will continue to deliver your gas, send you one monthly bill and respond to service calls.</p>
			<p>Limited to qualified new customers.</p>
			<a href="#">Frequently Asked Questions &gt;</a>
			<a href="#">Join Delta Skymiles &gt;</a>
		</div>
	</div>
</div>
			</div>
		</div>
	</section>