
	<section class="promo-landing">
		<div class="container">
			<div class="full-banner-callout flush">
	<div class="slide">
		<div class="slide-image"><img src="${properties.imagepath}"></div>
		<div class="slide-content">
			<div class="inner-slide-content clearfix">

				<img data-sly-test="${inheritedPageProperties.portalname == 'oh'}" src="/etc/designs/ohgre/clientlibs/_img/global/ohio-logo-white.png">
				<span class="slide-title">${properties.title}</span>
				<p><span>Promo Code: delta25</span><span>Hurry! Offer ends June 4, 2017</span></p>
			</div>
		</div>
	</div>
</div>
		</div>
	</section>