        <div id="delta-confirmation" class="form-wrapper form-confirmation" ng-show="deltaconfirmation">
          <div class="intro-wrapper">
            <h2>${properties.confirmationpageheader}</h2>
            <p>
              ${properties.confirmationpagesubhead}
            </p>
          </div>
          <div class="desktop-flex-container">
            <div class="col-md-6 alt-col1">
              <div class="box-with-border information-block">
                <div class="form-element no-border no-padding">
                  <div class="moving-customer-container">
                    <div class="form-area">
                      <h4>Ohio Natural Gas Account Information</h4>
                      <div class="form-area">
                        <div class="input-group-wrapper">
                          <label>Name</label>
                          <strong>{{firstName}} {{lastName}}</strong>
                        </div>
                        <div class="input-group-wrapper">
                          <label>Email</label>
                          <strong>{{emailaddress}}</strong>
                        </div>
                        <div class="input-group-wrapper">
                          <label>Phone Number</label>
                          <strong>{{dsmPhone}}</strong>
                        </div>
                        <p class="footnote">Email and Phone Number only to be used to contact you if we encounter an issue with the information you have provided.</p>
                      </div>


                    </div>

                  </div>
                </div>
              </div>
              <div class="box-with-border information-block">
                <h4>Your Gas Utility Account Information</h4>
                <div class="input-group-wrapper">
                  <label>Your Gas Utility</label>
                  <strong>{{ldcDesc}}</strong>
                </div>
                <div class="input-group-wrapper">
                  <label>Gas Provider Account Number</label>
                  <strong>{{LDCAccountNumber}}</strong>
                </div>
              </div>
              <div class="box-with-border information-block">
                <h4>Delta Skymiles Member Information</h4>
                <div class="input-group-wrapper">
                  <label>Name</label>
                  <strong>{{dsmFirsName}} {{dsmLastName}}</strong>
                </div>
                <div class="input-group-wrapper">
                  <label>Skymiles Number</label>
                  <strong>{{dsmAccountNumber}}</strong>
                </div>
              </div>
            </div>
            <div class="col-md-7">
            <div class="box-with-border">

             ${properties.sidecontent @ context='html'}

            </div>

            <a href="#" class="primary-button" ng-click="backtohome()">Back to Home Page</a>
          </div>
        </div>
      </div>