<div class="__FP_panel">
    <div class="__FP_panel-box" data-repeatable="true">
        <div class="__FP_panel-box-title" title="${name}" tabindex="0">${name}</div>
        <div class="__FP_panel-box-description" title="${description}" tabindex="0">${description}</div>
        <div class="__FP_panel-box-open-download">
            <a href="${formUrl}" target="_blank" class="__FP_panel-html-open ${htmlStyle}" title="${config-htmlLinkText}"></a>
            <a href="${pdfUrl}" target="_blank" class="__FP_panel-pdf-open ${pdfStyle}" title="${config-pdfLinkText}"></a>
        </div>
    </div>
</div>