<section>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row promo-wrapper">
	<div class="col-md-4">
		<div class="box-with-border contact-page">
            <a href="#" class="accord-trigger"><h4>${properties.heading1 || 'Residential Contacts ONG Customer Service'}</h4></a>
			<div class="accord-container">
                ${properties.description1 @ context='html'}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box-with-border contact-page">
            <a href="#" class="accord-trigger"><h4>${properties.heading2 || 'Commercial Industrial Contacts'}</h4></a>
			<div class="accord-container">
 				${properties.description2 @ context='html'}
                </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box-with-border contact-page">
            <a href="#" class="accord-trigger"><h4>${properties.heading3 || 'Aggregation Programs / Sales Agency Opportunities'}</h4></a>
			<div class="accord-container">
				 ${properties.description3 @ context='html'}
             </div>
		</div>
	</div>
</div>
				</div>
			</div>
		</div>
	</section>
	