<section id="sitemap">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="box-with-border">
          <h2>Sitemap</h2>
          <ul>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/plans-detail.html')">View Rate Plans</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/what_is_choice.html')">What is Choice?</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/why_choose_us.html')">Why Choose Us?</a></li>

            <li><a href="#" ng-click="footernavigation('/content/onlyong/about_us.html')">About Us</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/contact-us.html')">Contact Us</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/faq.html')">FAQs</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/terms-of-use.html')">Terms of Use</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/privacy-policy.html')">Privacy Policy</a></li>
            <li><a href="#" ng-click="footernavigation('/content/onlyong/sitemap.html')">Sitemap</a></li>
			<li><a href="#" id="download-test">Download</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </section>